:root {
  --azul-gelo: #E9F2F9;
  --branco: #FFFFFF;
  --azul-medio: #3A89C9;
  --azul-claro: #9CC4E4;
  --azul-escuro: #1B325F;
  --vermelho: #F26C4F;
  --cinza: #EEEEEE;
  --verde: #539A53;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.tela-container {
  background-color: var(--branco);
  padding: 32px 64px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  min-height: 75vh;
}